<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="imageCollagePostListRow">
    <div class="imageCollagePostListColumn">
        <div class="imageContainerWithOverlay">
            <img src="https://lh5.googleusercontent.com/p/AF1QipP7rGiiA7mkQ2xBHHW_8xSO8pXNoRIReJsqNjpo=w600-h854-p-k-no" title="Draperies and Flowstones">
            <div class="imageOverlay">Draperies and Flowstones</div>
        </div>
    </div>
    <div class="imageCollagePostListColumn">
        <div class="imageContainerWithOverlay">
            <img src="https://lh5.googleusercontent.com/p/AF1QipOW0U7yBq55rhfmaHznFaLk3a_nAC7co9hih1Yw=w600-h854-p-k-no" title="Column formation">
            <div class="imageOverlay">Column formation</div>
        </div>
    </div>
</div>
<!-- end post -->