<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="imageCollageRow">
    <div class="imageCollagePostListColumn">
        <img src="https://lh5.googleusercontent.com/p/AF1QipP5z7LcVOHQYeQ3gd8oGqY12Eww4_BR6B31j1Mf=w365-h273-k-no" title="Hurricane Ridge Trail">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMx6NncqNhO6-3iTLWiC8OyvMfUvMJ9YAsN7fSh=w600-h563-p-k-no" title="Castello di Amarosa">
        <img src="https://lh5.googleusercontent.com/p/AF1QipM4xB6rNKH49LBTPKcIpIHtqpUGkv8kKXa_Dm_C=w600-h563-p-k-no" title="Kenmore Air">
        <img src="https://lh5.googleusercontent.com/p/AF1QipN3-SGqtrWsXXIs578NaTJIKbhO-fAbpya8N0J2=w600-h854-p-k-no" title="Hoh River Trail">
        <img src="https://lh5.googleusercontent.com/p/AF1QipPJ8uEFQbd8uFUYu687hY8eOUZywpOrkweZhvrb=w600-h854-p-k-no" title="Big Obsidian Flow">
        <img src="https://lh5.googleusercontent.com/p/AF1QipPsOaZGI8kEsI1N0qPrqExiR2kzo00fk7GG_gw1=w600-h854-p-k-no" title="Washington Pass Observation Site">
        <img src="https://lh5.googleusercontent.com/p/AF1QipNxb7OL272arehjSWCUJkVhsV2dMwRH0aQ83YUd=w600-h563-p-k-no" title="Smith Teamaker">
        <img src="https://lh5.googleusercontent.com/p/AF1QipN3ELH8piDktXGF2IXZXRm0t109FMJjzbkjlgTE=w600-h278-p-k-no" title="Hollywood Bowl">
    </div>
    <div class="imageCollagePostListColumn">
        <img src="https://lh5.googleusercontent.com/p/AF1QipPF5It0L97K5dzv0oTtmdIWXF8Uah5Jnp8NpsIU=w600-h563-p-k-no" title="Hurricane Ridge Trail">
        <a href="#CarlsbadCavernsNationalPark"><img src="https://lh5.googleusercontent.com/p/AF1QipOvSfaaNyNqnG2bAhvqpeKvoo_H9Js8z4VuhtbO=w600-h420-p-k-no" title="Carlsbad Caverns National Park"></a>
        <img src="assets/images/travel/Very_Large_Array.jpg" title="Very Large Array">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMzNkArMaPkWUfECDF2d59bzPcX5M6Q3wlYO7Ur=w600-h278-p-k-no" title="Leavenworth Reindeer Farm">
        <img src="https://lh5.googleusercontent.com/p/AF1QipMw_juvLJxn4C8xn242rlUhzAnZvGd2s-YpdsJ6=w600-h563-p-k-no" title="Cool Springs Station">
        <img src="https://lh5.googleusercontent.com/p/AF1QipNU9zmQ8zc6PxEO0wvw-xObXOAWxSqN6wthJB4c=w600-h563-p-k-no" title="The Museum of Flight">
        <img src="https://lh5.googleusercontent.com/p/AF1QipNONBc0nAhXVMkILK949n6KOBS2RHrhn1BXI3bd=w600-h563-p-k-no" title="Kenmore Air">
        <img src="https://lh5.googleusercontent.com/p/AF1QipPMcBTUh38gvWLOspxz5jBUF2iQtNE0936iT0FA=w600-h563-p-k-no" title="Very Large Array">
    </div>
</div>
<!-- end post -->