---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Author Box -->
                {% if page.author %}
                <div class="row post-top-meta">
                    <div class="col-xs-12 col-md-3 col-lg-2 text-center text-md-left mb-4 mb-md-0">
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-10 text-center text-md-left">
                        <a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>
                        <span class="author-description">{{ author.description }}</span>
                    </div>
                </div>
                {% endif %}

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            <!-- Adsense if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- End Adsense -->

            <!-- Post Featured Image1 -->
            {% if page.image1 %}
            <figure>
            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image1 contains "://" %}{{ page.image1 }}{% else %}{{ site.baseurl }}/{{ page.image1 }}{% endif %}" alt="{{ page.image1Caption }}">
            {% else %}
            <img class="{% if page.categories[0] == 'Travel' %} featured-image-travel img-fluid {% else %} featured-image img-fluid {% endif %}" src="{% if page.image1 contains "://" %}{{ page.image1 }}{% else %}{{ site.baseurl }}/{{ page.image1 }}{% endif %}" alt="{{ page.image1Caption }}">
            {% endif %}
            <figcaption>{{ page.image1Caption }}</figcaption>
            </figure>
            {% endif %}
            <!-- End Post Featured Image1 -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>
            <!-- End Post Content -->

            <!-- Post Featured Image2 -->
            {% if page.image2 %}
            <figure>
            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image2 contains "://" %}{{ page.image2 }}{% else %}{{ site.baseurl }}/{{ page.image2 }}{% endif %}" alt="{{ page.image2Caption }}">
            {% else %}
            <img class="{% if page.categories[0] == 'Travel' %} featured-image-travel img-fluid {% else %} featured-image img-fluid {% endif %}" src="{% if page.image2 contains "://" %}{{ page.image2 }}{% else %}{{ site.baseurl }}/{{ page.image2 }}{% endif %}" alt="{{ page.image2Caption }}">
            {% endif %}
            <figcaption>{{ page.image2Caption }}</figcaption>
            </figure>
            {% endif %}
            <!-- End Post Featured Image2 -->

            <!-- Post Strava Record -->
            {% if page.categories[0] == "Travel" and page.stravaRecord != "" %}
            <p align="center"><iframe height='400' width='600' frameborder='' allowtransparency='true' scrolling='yes' src='{{ page.stravaRecord }}'></iframe></p>
            {% endif %}
            <!-- End Post Strava Record -->

            <!-- Post all images -->
            <div class="imageCollageRow">
                <div class="imageCollageColumn">
                    {% if page.image3 %} <div class="imageContainerWithOverlay"><img src="{{ page.image3 }}" title="{{ page.image3Caption }}"><figcaption>{{ page.image3Caption }}</figcaption></div>{% endif %}
                    {% if page.image5 %} <div class="imageContainerWithOverlay"><img src="{{ page.image5 }}" title="{{ page.image5Caption }}"><figcaption>{{ page.image5Caption }}</figcaption></div>{% endif %}
                    {% if page.image7 %} <div class="imageContainerWithOverlay"><img src="{{ page.image7 }}" title="{{ page.image7Caption }}"><figcaption>{{ page.image7Caption }}</figcaption></div>{% endif %}
                    {% if page.image9 %} <div class="imageContainerWithOverlay"><img src="{{ page.image9 }}" title="{{ page.image9Caption }}"><figcaption>{{ page.image9Caption }}</figcaption></div>{% endif %}
                </div>
                <div class="imageCollageColumn">
                    {% if page.image4 %} <div class="imageContainerWithOverlay"><img src="{{ page.image4 }}" title="{{ page.image4Caption }}"><figcaption>{{ page.image4Caption }}</figcaption></div>{% endif %}
                    {% if page.image6 %} <div class="imageContainerWithOverlay"><img src="{{ page.image6 }}" title="{{ page.image6Caption }}"><figcaption>{{ page.image6Caption }}</figcaption></div>{% endif %}
                    {% if page.image8 %} <div class="imageContainerWithOverlay"><img src="{{ page.image8 }}" title="{{ page.image8Caption }}"><figcaption>{{ page.image8Caption }}</figcaption></div>{% endif %}
                    {% if page.image10 %} <div class="imageContainerWithOverlay"><img src="{{ page.image10 }}" title="{{ page.image10Caption }}"><figcaption>{{ page.image10Caption }}</figcaption></div>{% endif %}
                </div>
            </div>
            <!-- End Post all images -->

            <!-- Post Like -->
            <hr><br><br>
            <center>
                <span class="likebtn-wrapper" data-theme="custom" data-btn_size="40" data-f_size="15" data-icon_size="30" data-icon_l="thmb4-u" data-icon_l_c="#00ab6b" data-icon_l_c_v="#000000" data-icon_d_c="#000000" data-icon_d_c_v="#000000" data-label_c="#00ab6b" data-label_c_v="#000000" data-bg_c="#ffffff" data-bg_c_v="#00ab6b" data-brdr_c="#000000" data-f_family="Lucida Grande" data-i18n_like="Nice!    " data-ef_voting="grow" data-white_label="true" data-rich_snippet="true" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_frequency="2592000" data-counter_frmt="comma" data-popup_style="dark" data-share_size="large" data-addthis_service_codes="facebook,twitter,linkedin,reddit" data-site_id="62294cbcfa8fdf5b2dbac28a"></span>
                <script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
            </center>
            <br><br><hr>
            <!-- End Post Like -->

            <!-- Post Rating -->
            {% if page.rating %}
            <div class="rating mb-4 d-flex align-items-center">
                <strong class="mr-1">Rating:</strong> {% include star_rating.html %}
            </div>
            {% endif %}
            <!-- End Post Rating -->

            <!-- Post Date -->
            <p><small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
            </small></p>
            <!-- End Post Date -->

            <!-- Post Categories -->
            <div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Post Categories -->

            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Post Tags -->

            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{ site.baseurl }}{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-right" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->

<!-- Begin Comments
================================================== -->
{% if page.comments != false %}
    <div class="container">
        <div id="comments" class="row justify-content-center mb-5">
            <div class="col-md-8">
                {% include disqus.html %}
            </div>
        </div>
    </div>
{% endif %}
<!--End Comments
================================================== -->

<!-- Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first:
https://search.google.com/structured-data/testing-tool/u/0/
================================================== -->
{% if page.rating %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Thing",
    "name": "{{ page.title }}"
  },
  "author": {
    "@type": "Person",
    "name": "{{ author.display_name }}"
  },
  "datePublished": "{{ page.date | date:"%Y-%m-%d" }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "5"
  }
}
</script>
{% endif %}